body{
    font-family: "Microsoft Yahei", "微软雅黑";
    background: #EEEEEE;
}
div,p,a{
    word-spacing: 0.1em;
}
.header{
    padding:8px 0px 8px 0px;
    background: #515456;
    margin-left: -15px;
    margin-right: -15px;
}
.heaer-munu li{
    list-style: none;
    float: left;
    line-height: 16px;
    margin-top: 6px;
}
.heaer-munu li a{
    text-decoration: none;
    color:#EEEEEE;
    margin-right: 15px;
}
.heaer-munu li a:hover{
    color: #ffffff;
}
/*对bootstrap的样式做修改*/
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #C4C9C9;
}
/*对中间内容部分头像文字介绍部分的样式修改*/
.topic{
    /*border: 1px solid #ff0000;*/
    /*text-align: center;*/
    margin-bottom: 10px;
}
.gallery-icon img {
    border: 1px solid #ddd;
    padding: 6px;
    margin-right: 10px;
}
.guest_avatar{
    float: left;
}
.footer{
    padding:13px 0px 13px 0px;
    background: #515456;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    color: #EEEEEE;
    margin-top: 40px;
}
/*历史部分样式*/
.radio{
    width: 100%;
    height: 300px;
    background: #000000;
}
/*跑马灯部分*/
.Marquee{
    width: 100%;
    /*border: 1px solid #ff0000;*/
    overflow: hidden;
}
.MarqueeOut{
    width: 2700px;
    padding: 10px 0px;
    /*border: 1px solid #77ff4d;*/
    position: relative;
}
.MarqueeInner{
    width: 5400px;
    /*border: 1px solid #ff0000;*/
    animation: myfirst 20s infinite  linear;
    -moz-animation: myfirst 20s infinite  linear;	/* Firefox */
    -webkit-animation: myfirst 20s infinite  linear;	/* Safari 和 Chrome */
    -o-animation: myfirst 20s infinite  linear;	/* Opera */
    position: relative;
    left: 0;
}
.MarqueeInner .MarqueeItem{
    display: inline-block;
}
.MarqueeInner img{
    width: 200px;
    height: 200px;
}
/*跑马灯代码*/
@keyframes myfirst
{
    from {left: 0;}
    to {left: -2700px;}
}

@-moz-keyframes myfirst  /*Firefox */
{
    from {left: 0;}
    to {left: -2700px;}
}

@-webkit-keyframes myfirst
{  from {left: 0;}
    to {left: -2700px;}
 }

@-o-keyframes myfirst
{
    from {left: 0;}
    to {left: -2700px;}
}
/*表单提交页面*/
.table{
    margin-top: 40px;
}
.table tr td span{
    font-size: 15px;
    text-align: right;
    width: 50px;
    font-weight: bold;
}
.table tr td:nth-child(1){
    text-align: right;
}
.turn{
    padding-top: .6em;
}
.turn a{
    text-decoration: none;
    /*color: #87ceeb;*/
}
.turn a:hover{
    color: #000000;
}
