@charset "UTF-8";
img {
    max-width: 100%;
}
li {
    list-style: none;
}
p {
    word-break: break-all;
}
.icon {
    display:block;

}

.clear-link a{text-decoration:none;}
.clear-link a:link{text-decoration:none;}
.clear-link a:visited{text-decoration:none;}
.clear-link a:hover{text-decoration:none;}
.clear-link a:active{text-decoration:none;}

.icon.icon-weibo {
    background: white  url("../images/logo/weibo-logo-48x48.png") no-repeat center;
    background-size: auto 80%;
    width: 48px;
    height: 48px;
    border-radius: 30px;
}

.icon.icon-github {
    background: white url("../images/logo/github-logo-48x48.png") no-repeat center;
    background-size: auto 80%;
    width: 48px;
    height: 48px;
    border-radius: 30px;
}

/* 网页div弹出层 begin */

#layer {
    display: none;
}
.layer {
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    -webkit-overflow-scrolling: touch;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);

    border-radius: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
}
.layer, .layer-shade {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
}


#layer-shade,#layer-elastic-cn {
    display: none;
}
.layer-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.layer-shade.opacity {
    background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.show-qrcode {
    height: 280px;
    background-color: #fff;
    box-shadow: none;
    color: #5A5A5A;
    z-index: 10000;
    width: 240px;
    top: 50%;
    left: 50%;
    margin-left:-120px;
    margin-top:-140px;
}

.show-qrcode .layer-content {
    padding: 20px;
    text-align: center;
}

.show-qrcode .layer-content.no-padding{
    padding: 10px;
}

.layer-content .qrcode {
    width: 200px;
    min-height: 240px;
}

.layer-content.no-padding .qrcode {
    width: 220px;
    min-height: 240px;
}

.layer-content .qrcode img{
    width: 100%;
}

.layer-content .qrcode .des {
    text-align: center;
    color: #5A5A5A;
    margin-top: 4px;
}

.layer-content {
    position: relative;
    overflow: auto;
}

/* 网页div弹出层 end */

/* 动画 */
.layer-anim {
    -webkit-animation-name: bounceIn;animation-name: bounceIn;
}
@-webkit-keyframes bounceIn { /* 默认 */
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03)
    }
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

/* 网页右边小工具栏 begin */

.right-tool {
    position: fixed;
    right: 5px;
    bottom: 40px;
    z-index: 99;
}

.right-tool li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 2px;
    display: list-item;
}

.right-tool li.share-qrcode .text {
    line-height: 18px;
    padding-top: 7px;
    display: none;
}

.right-tool li.share-qrcode .img {
    width: 70%;
}

.right-tool li.go-top {
    display: none;
    font-size: 24px;
}

@media (max-width: 767px) {
    .right-tool {
        right: 5px;
    }
    .right-tool .share-qrcode {
        display: none;
    }
    .right-tool li {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .right-tool li.go-top span{
        color: #fff;
        font-size: 18px;
    }
}

/* 网页右边小工具栏 end */