body {
    color: #4e4e4e;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

a.elastic-logo {
    background: url("../images/logo/elastic-logo-96x96.png") no-repeat top left;
    background-size: auto 100%;
    padding:15px 5px;
}

a.elastic-logo span {
    display: inline-block;
    padding-left:40px;
}

.site-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.site-header a{
    margin-top: 10px;
    margin-right: 10px;
}

.site-header.bj-2016 {
    background: url("../images/2016/bg/header_2016.jpg") no-repeat center center/cover;
}

.site-header.bj-2015 {
    background: url("../images/2015/gallery/2015001.jpg") no-repeat center center/cover;
}

.site-header.sh-2015 {
    background: url("../images/2015/gallery/shanghai.JPG") no-repeat center center/cover;
}
.site-header.cd-2015 {
    background: url("../images/2015/gallery/chengdou.JPG") no-repeat center center/cover;
}


.site-header.bj-2014 {
    background: url("../images/2014/gallery/p17.jpeg") no-repeat center center/cover;
}

.valign-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.site-header .intro {
    color: #fff;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
}

.site-header .intro h2 {
    margin-top: 0px;
    font-size: 25px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.site-header .intro h1 {
    margin-top: 0px;
    font-size: 30px;
}

.site-header .intro p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.btn {
    border: 0;
    border-radius: 0;
    padding: 6px 28px;
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
.btn:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.navbar-custom {
    border: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    border-bottom: 0px;
}


.navbar-custom .navbar-nav li {
    margin: 0;
}
.navbar-custom .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-header a.elastic-logo span{
    color: #fff;
    padding-left:60px;
}

.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
    border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:focus, .navbar-custom .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: transparent;
}
.navbar-solid {
    border-bottom: 1px solid #e5e5e5!important;
    background-color: #f8f8f8 !important;
    padding: 0 !important;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.navbar-solid .navbar-header a.elastic-logo span{
    color: #777;
    padding-left:40px;
}
.navbar-solid .navbar-header a.elastic-logo {
    background-size: auto 80%;
    background-position: 0;
    padding:15px 15px;
}

.navbar-solid .navbar-nav > li > a:focus, .navbar-solid .navbar-nav > li > a:hover {
    color: #333;
}

.navbar-solid .navbar-nav > li > a,.navbar-solid a.elastic-logo span,.navbar-solid .navbar-nav>.open>a, .navbar-solid .navbar-nav>.open>a:focus, .navbar-solid .navbar-nav>.open>a:hover {
    color: #777;
}

.section {
    padding: 50px 0;
}

.section.bg-white {
    background-color: white;
}

.section.bg-grey {
    background-color: #f8f8f8;
}

.section-title {
    color: #313131;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.speaker {}

.speaker .thumbnail {
    min-height: 465px;
}

.speaker .thumbnail .user-avatar-poster {
    width: 100%;
    min-height: 100px;
}
.speaker .thumbnail .topic {
    color: #246baf;
    margin-top:0;
}
.speaker .thumbnail .user-brief {
    background: #f8f8f8;
    padding: 10px;
    color: #777;
    min-height:90px;
}
.speaker .thumbnail .user-brief img {
    float: left;
    margin: 0 10px 0 0;
    width: 72px;
    height:72px;
}
.speaker .thumbnail .user-brief h4 {
    margin: 0 0 5px 0;
    font-weight: 600;
    font-size: 1.16638em;
    color: #777;
}

.conf-address {}

.partner .partner-box {
    opacity: 0.5;
    height: 150px;
    width: 150px;
    margin: 25px auto;
    -webkit-transition: 0.5s all linear;
    transition: 0.5s all linear;
    vertical-align: middle;
    display: table-cell;
}

.partner .partner-box:hover {
    opacity: 1;
}

.partner .partner-box>img {
    width: 100%;
}

.partner .partner-blank {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 84px;
    width: 160px;
    height: 84px;
    border: 2px dotted lightblue;
}

.partner .partner-blank.no-img {
    border: 2px solid lightblue;
}

.team {}

.team .volunteer {
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
}

.team .volunteer img{
    width: 100%;
}

.team .volunteer span {
    display: block;
    font-size: 14px;
    color:#777777;
}

.team .volunteer .image-holder {
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
}

.team .volunteer .image-holder:hover .hover-state{
    opacity:1;
}

.team .volunteer .image-holder:hover .hover-state .social-links{
    transform:translate3d(0px,0px,0px);
    -webkit-transform:translate3d(0px,0px,0px);
    -moz-transform:translate3d(0px,0px,0px);
}

.team .volunteer .volunteer-name {
    color: #333333;
}

.team .volunteer .hover-state {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.team .volunteer .social-links {
    width: 100%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transform: translate3d(0px,-200px,0px);
    -webkit-transform: translate3d(0px,-200px,0px);
    -moz-transform: translate3d(0px,-200px,0px);
}

.team .volunteer .vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.team .volunteer .social-links a {
    color: #fff;
    font-size: 24px;
    display: inline-block;
    margin-left: 6px;
}

.team .about-text {
    text-indent: 2em;
    font-size: 18px;
    /*line-height: 20px;*/
}

.gallery {}

.gallery .conf-img {
    width: 100%;
}

.resource {}

.live {}
.live .screen-wrap {
    text-align: center;
    width: 100%;
    min-height: 300px;
    margin:15px 0 40px 0;
}

.live .screen-wrap .video {
    width: 100%;
    min-height: 300px;
}

.map {
    width: 100%;
    height: 470px;
    background: #ecf1f4;
    overflow: hidden;
}

.contact {}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color:#f8f8f8;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding-top: 30px;
    }

    .site-branding {
        margin-top: 6px;
        margin-left: 0;
    }

    .section-title {
        color: #313131;
        letter-spacing: 1px;
        margin: 0 0 60px;
        text-transform: uppercase;
        text-align: left;
    }
    .section-title {
        margin: 0 0 30px;
    }


    .live .screen-wrap .video {
        width: 660px;
        height: 412px;
    }
}

@media (max-width: 767px) {
    .navbar-custom {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }
    .navbar-custom .navbar-nav>li>a,.navbar-custom .navbar-header a.elastic-logo span {
        color: #777;
    }
    .navbar-custom .navbar-nav>li>a:hover,.navbar-custom .navbar-nav>li>a:focus, span {
        color: #777;
    }
    .navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:focus, .navbar-custom .navbar-nav>.open>a:hover {
        color: #777;
    }

}

@media (min-width: 768px) and (max-width:991px) {
    .navbar-nav>li>a {
        padding:15px 10px;
    }
}



